

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>libro-fy</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
        <a href="/" class="home">home</a>
      
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Your Bookshelf</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
  </h1 class="main-title">libro-fy</h1>
      <h2>Get lost in your next book</h2>
    </header>
  </div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>