

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>libro-fy</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  
    <div class="header">
      <a href="/" class="libro-fy"><h1>libro-fy</h1></a>
      <p>get lost in your next book</p>
      <div class="nav-bar">
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login" class="login-btn">login</a>
        {{/if}}
      </div>  
    </div>
  
    <main>
      <container class="main-container">
      {{{ body }}}
      </container>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>