<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>libro-fy</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <h1 class="header-title">
        <a href="/">libro-fy</a>
      </h1>
      <h2>get lost in your next book</h2>
      <nav>
        <button id="logout" class="btn-no-style">logout</button>
          <a href="/login">login</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    Thanks for visiting! 
    </footer>
  </div>

</body>

</html>