

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>libro-fy</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <h1 class="main-title">
        <a href="/">libro-fy</a>
      </h1>
      <h2>get lost in your next book</h2>
<<<<<<< HEAD
      <form>
        <button id="logout" class="btn-no-style">logout</button>
          <a href="/login">login</a>
      </form>
=======
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
  
>>>>>>> c4fb2bbf5b2ae2f2c6da2c1216e0674ed1038ad2
    </header>
  </div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>