<section>
  <h3>Enter Your Favorite Book</h3>

  <form class="new-book-form">
    <div>
      <label for="book-name">Book Name</label>
      <input type="text" id="book-name" name="book-name" />
    </div>
    <div>
      <label for="book-url">Link</label>
      <input id="book-url" name="book-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>


