<div class="entire-form">
<box class="form">
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
    <br>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
    <br>
    <button type="submit">login</button>
  </form>


<form class="signup-form form">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
    <br>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
    <br>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
    <br>
    <button type="submit">signup</button>
  </form>
</div>
<script src="/javascript/login.js"></script>