.header {
  padding: 60px;
  text-align: center;
  background: #e7eb23;
  position: sticky;
  color: #000000;
  font-size: 50px;
  line-height: 30px;
  font-family: Roboto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a {
  text-decoration: none;
  font-family: Roboto;
  color: #000000;
  font-weight: bold;
  transition: color 0.1s;
}
a.login-btn {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: Roboto;
  font-size: 20px;
}
a:hover {
  color: #3486eb;
}

/* LOGIN FORM BEGINS HERE */

.form {
  border: 30px solid #f1f1f1;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px, 50px;
  height: 100%;
  text-align: center;
}

.entire-form {
  padding-left: 15%;
  padding-right: 15%;
}

input[type="text"],
input[type="password"] {
  width: 15%;
  padding: 5px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.email {
  background: #ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 250px;
  color: #aaaaaa;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 4px;
}
.password {
  border-radius: 4px;
  background: #ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width: 250px;
  font-size: 1em;
}
button {
  background-color: #04aa6d;
  color: white;
  padding: 4px 10px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

.submit:hover {
  background: #2cc06b;
}

/* FOOTER STYLING */

footer {
  border-top: 1px solid #ccc;
  background-color: #919699;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  padding: 3%;
  font-size: 25px;
}
